<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130398239135-e6i492enfdlr2vjb9o2eb9dnrj8h0rhf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130398239135-e6i492enfdlr2vjb9o2eb9dnrj8h0rhf</string>
	<key>API_KEY</key>
	<string>AIzaSyAg3oR5VjaMi3fbAEO5VlVOwUyVdTFzF1s</string>
	<key>GCM_SENDER_ID</key>
	<string>130398239135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ithogskolan.fantasticapp</string>
	<key>PROJECT_ID</key>
	<string>fantasticexpoproject</string>
	<key>STORAGE_BUCKET</key>
	<string>fantasticexpoproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130398239135:ios:fe7c6767a8cd9f989125aa</string>
	<key>DATABASE_URL</key>
	<string>https://fantasticexpoproject-default-rtdb.firebaseio.com</string>
</dict>
</plist>